<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hmmmm....</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}">
</head>
<body class="p-4">
<div class="container-fluid text-center">
    <h1>Products in inventory</h1>
    <table class="table w-50 mx-auto ">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.getId()}"></td>
                <td th:text="${product.getName()}"></td>
                <td th:text="'$'+${product.getPrice()}"></td>
                <td th:text="${product.quantity}"></td>
                <td>
                    <a role="button" class="btn btn-primary btn-sm"
                       th:href="@{product/{id}(id=${product.getId()})}">View</a>
                    <button type="button" class="btn btn-secondary btn-sm mx-2">Update</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>